html {
    background-color: #333;
}

body {
    color: white;
    font-family: 'arial', sans-serif;
    font-size: 16px;
}

.box {
    padding: 15px;
}

label {
    display: block;
}

.form-grup {
    margin-bottom: 20px;
}

input {
    color: #3e8e41;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

input::placeholder {
    color: #3e8e41;
}

textarea {
    color:#3e8e41;
    display: block;
    height: 200px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    resize: none;
}

select {
    color: #3e8e41;
    display: block;
    width: 10%;
    box-sizing: border-box;
    padding: 10px;
}

.form-action {
    text-align: center;
}

button {
    background-color: lawngreen;
    margin-top: 10px;
    border: none;
    color: white;
    font-size: 30px;
    border-radius: 30px ;
}

button:hover {
    background-color: #3e8e41;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
    cursor: pointer;
}