html {
    background-color: #333;
}

body {
    font-family: 'Arial', sans-serif;
}

.box {
    background-color: #999;
    padding: 20px;
    margin-bottom: 15px;
}

.box-2 {
    background-color: #999;
    padding: 20px;
}

.link {
    text-decoration: none;
}