html {
    background-color: #333;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: white;
}

a {
    color: inherit;
}

.box {
    padding: 30px;
}

.link {
    text-decoration: none;
    background-color: #999;
    font-size: 36px;
    padding: 5px 20px;
    border-radius: 50px;
}

.link:hover {
    background-color: blue;
}